footer{
    padding-top: 50px;
    .container{
        .menu{
            display: flex;
            &__item{
                width: calc(100% / 4);
                &-heading{
                    font-family: Lato;
                    font-weight: 700;
                    font-size: 2rem;
                    margin-bottom: 42px;
                }
                &-list{
                    display: flex;
                    flex-direction: column;
                    gap: 18px;
                    li a{
                        color: #7A7A7E;
                        font-size: 1.6rem;
                        cursor: pointer;
                    }
                }
                &-content{
                    p{
                        color: #7A7A7E;
                        font-size: 1.6rem;
                        line-height: 2.8rem;
                    }
                }
                .social{
                    margin-top: 40px;

                    flex-direction: row;
                    gap: 16px;
                    li a img{
                            width: 40px;
                            height: 40px;
                    }
                }
            }
        }
        .copyright{
            padding-top: 74px;
            padding-bottom: 58px;

            display: flex;
            justify-content: space-between;
            align-items: center;
            &__text{
                color: #C2C2C2;
            }
        }
    }
    @media (max-width: 991px){
        .container{
            .menu{
                flex-wrap: wrap;
                justify-content: space-around;
                gap: 50px;
                &__item{
                    width: 40%;
                }
            }
            .copyright{
                padding-top: 50px;
                padding-bottom: 30px;
            }
        }
    }
    @media (max-width: 767px){
        .container{
            .menu{
                gap: 40px;
                &__item{
                    width: 100%;
                    &-heading{
                        margin-bottom: 20px;
                    }
                    .social{
                        margin-top: 20px;
                        gap: 10px;
                    }
                }
            }
            .copyright{
                flex-direction: column;
                gap: 10px;
                padding-top: 50px;
                padding-bottom: 30px;
            }
        }
    }
}