header{
    background: var(--bg-cl);
    padding-top: 38px;
    & > .container{
        min-height: var(--header-height);
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        .info{
            display: flex;
            align-items: center;
            gap: 60px;
            .nav{
                ul{
                    display: flex;
                    align-items: center;
                    gap: 30px;
                    li{
                        a{
                            font-weight: 500;
                        }
                    }
                }
            }
        }
        .action{
            display: flex;
            align-items: center;
            gap: 18px;
        }
    }
}

@media (max-width: 991px){
    header{
        padding-top: 20px;
        .nav{
            display: none;
        }
    }
}