:root{
    --black-cl: #000;
    --white-cl: #fff;
    --blue-cl: #0689FF;
    --main-cl: #0F1B4C;
    --nav-text-cl: #4F5361;
    --sub-text-cl: #687690;
    --main-text-cl: #000336;
    --text-cl: #5A6473;
    --heading-cl: #000339;
    --bg-cl: #E6F0FF;
    --container-width: 1140px;
    --header-height: 40px;
    --section-pd: 80px;
}
@-ms-viewport {
    width: device-width;
}
*{
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
body{
    font-size: 1.4rem;
    font-family: Poppins;
}
.container{
    width: var(--container-width);
    max-width: 100%;
    margin: auto;
    padding: 0 15px;
}
a{
    text-decoration: none;
    color: var(--nav-text-cl);
    line-height: 2.1rem;

    &:hover{
        opacity: .8;
    }
}
button{
    padding: 12px 8px;
    border: none;
    background: none;

    color: var(--main-cl);
    font-weight: 500;
    font-family: Poppins;

    border-radius: 8px;

    cursor: pointer;
    &.primary{
        width: 98px;
        background-color: var(--main-cl);
        color: var(--white-cl);
        transition: .3s linear;
        &:hover{
            opacity: .8;
            transform: scale(1.02);
            transition: .3s linear;
        }
        &:active{
            transform: scale(.98);
            transition: .3s linear;
        }
    }
    &.size-m{
        width: 170px;
        padding: 17px 8px;
    }
}

.link{
    a{
        color: var(--blue-cl);
        font-weight: 600;
        svg{
            margin-left: 8px;
        }
    }
}

.content{
    &::before{
        content: '';
        display: block;
        height: 4px;
        width: 41px;
        background-color: var(--heading-cl);
        border-radius: 12px;
        margin: 0 auto 10px auto;
    }
    h3{
        font-size: 3.5rem;
        line-height: 3.5rem;
        font-weight: 600;
        color: var(--heading-cl);
    }
    p{
        font-size: 1.6rem;
        line-height: 3rem;
        color: var(--text-cl);

        margin-top: 20px;
    }
}
.nav{
    position: fixed;
    top:0;
    right: 0;

    width: 50vw;
    height: 100vh;
    padding-top: 80px;

    background-color: var(--white-cl);

    transform: translateX(100%);
    transition: .3s linear;
    ul{
        display: flex;
        flex-direction: column;
        li{
            width: 100%;
            text-align: center;
            a{
                display: block;
                width: 100%;
                padding: 10px 0;
            }
        }
    }
    &.active{
        transform: translateX(0);
        transition: .3s linear;
    }
}

@media (max-width: 1199px){
    :root{
        --container-width: 960px;
    }
}

@media (max-width: 991px){
    :root{
        --container-width: 720px;
        --section-pd: 50px;
    }
    button{
        padding: 8px;

        font-size: 1.2rem;
        &.primary{
            width: 80px;
        }
        &.size-m{
            width: 120px;
            padding: 12px 8px;
        }
    }
    .content{
        h3{
            font-size: 2.5rem;
            line-height: 2.5rem;
        }
        p{
            font-size: 1.4rem;
            line-height: 2rem;
            margin-top: 10px;
        }
    }
}
@media (max-width: 767px){
    :root{
        --container-width: 540px;
        --section-pd: 30px;
    }
    svg.brand-logo{
        width: 80px;
    }
    button{
        width: 60px;
        padding: 4px;
        &.primary{
            width: 70px;
        }
        &.size-m{
            width: 120px;
            padding: 8px;
        }
    }
    .content{
        h3{
            font-size: 1.8rem;
            line-height: 1.8rem;
        }
        p{
            font-size: 1.2rem;
            line-height: 1.8rem;
        }
    }
}