html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: Poppins;
  src: url("../fonts/Poppins-Regular.ttf");
  font-weight: 400;
  font-display: fallback;
}
@font-face {
  font-family: Poppins;
  src: url("../fonts/Poppins-Light.ttf");
  font-weight: 300;
  font-display: fallback;
}
@font-face {
  font-family: Poppins;
  src: url("../fonts/Poppins-Medium.ttf");
  font-weight: 500;
  font-display: fallback;
}
@font-face {
  font-family: Poppins;
  src: url("../fonts/Poppins-SemiBold.ttf");
  font-weight: 600;
  font-display: fallback;
}
@font-face {
  font-family: Poppins;
  src: url("../fonts/Poppins-Bold.ttf");
  font-weight: 700;
  font-display: fallback;
}
@font-face {
  font-family: Lato;
  src: url("../fonts/Lato-Bold.ttf");
  font-weight: 700;
  font-display: fallback;
}
:root {
  --black-cl: #000;
  --white-cl: #fff;
  --main-cl: #0F1B4C;
  --nav-text-cl: #4F5361;
  --sub-text-cl: #687690;
  --main-text-cl: #000336;
  --text-cl: #5A6473;
  --bg-cl: #E6F0FF;
  --link-cl: #0689FF;
  --container-width: 1140px;
  --header-height: 40px;
  --section-pd: 80px;
}

@-ms-viewport {
  width: device-width;
}
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  font-size: 1.4rem;
  font-family: Poppins;
}

.container {
  width: var(--container-width);
  max-width: 100%;
  margin: auto;
  padding: 0 15px;
}

a {
  text-decoration: none;
  color: var(--nav-text-cl);
  line-height: 2.1rem;
}
a:hover {
  opacity: 0.8;
}

button {
  padding: 12px 8px;
  border: none;
  background: none;
  color: var(--main-cl);
  font-weight: 500;
  font-family: Poppins;
  cursor: pointer;
}
button.primary {
  width: 98px;
  border-radius: 8px;
  background-color: var(--main-cl);
  color: var(--white-cl);
  transition: 0.3s linear;
}
button.primary:hover {
  opacity: 0.8;
  transform: scale(1.02);
  transition: 0.3s linear;
}
button.primary:active {
  transform: scale(0.98);
  transition: 0.3s linear;
}
button.size-m {
  width: 170px;
  padding: 17px 8px;
}

.link a {
  color: var(--link-cl);
  font-weight: 600;
}

header {
  background: var(--bg-cl);
  padding-top: 38px;
}
header > .container {
  min-height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
header > .container .info {
  display: flex;
  align-items: center;
  gap: 60px;
}
header > .container .info .nav ul {
  display: flex;
  align-items: center;
  gap: 30px;
}
header > .container .info .nav ul li a {
  font-weight: 500;
}
header > .container .action {
  display: flex;
  align-items: center;
  gap: 18px;
}

.hero {
  background: var(--bg-cl);
  padding-top: 40px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3);
}
.hero .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 67px;
}
.hero__left-content .sub-heading {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.7rem;
  letter-spacing: 1%;
  color: var(--sub-text-cl);
}
.hero__left-content .heading {
  margin-top: 8px;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 6.4rem;
  line-height: 7.6rem;
  color: var(--main-text-cl);
}
.hero__left-content .sub {
  font-size: 1.8rem;
  line-height: 3.2rem;
  color: var(--text-cl);
  margin-bottom: 40px;
}
.hero__right {
  flex-shrink: 0;
  width: 584px;
  margin-right: -100px;
}
.hero__right img {
  width: 100%;
}

.client {
  padding: var(--section-pd) 0;
}
.client .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 70px;
}
.client .text {
  font-size: 1.6rem;
  line-height: 2rem;
  color: #7D8589;
}
.client__content-text {
  margin-top: 23px;
}
.client__review-star {
  width: 116px;
  height: 18px;
  margin-left: auto;
}
.client__review-star img {
  width: 100%;
  height: 100%;
}
.client__review-text {
  margin-top: 14px;
}
.client__logo {
  width: 100%;
  height: 91px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 100px;
}
.client__logo-item {
  width: 20%;
}
.client__logo-item img {
  width: 100%;
}

footer {
  padding-top: 50px;
}
footer .container .menu {
  display: flex;
}
footer .container .menu__item {
  width: 25%;
}
footer .container .menu__item-heading {
  font-family: Lato;
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 42px;
}
footer .container .menu__item-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
footer .container .menu__item-list li a {
  color: #7A7A7E;
  font-size: 1.6rem;
  cursor: pointer;
}
footer .container .menu__item-content p {
  color: #7A7A7E;
  font-size: 1.6rem;
  line-height: 2.8rem;
}
footer .container .menu__item .social {
  margin-top: 40px;
  flex-direction: row;
  gap: 16px;
}
footer .container .menu__item .social li a img {
  width: 40px;
  height: 40px;
}
footer .container .copyright {
  padding-top: 74px;
  padding-bottom: 58px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .container .copyright__text {
  color: #C2C2C2;
}

/*# sourceMappingURL=style.css.map */
